.img {
    display: block;
    margin: 20px;

    justify-content: center;
    padding-left: 25%;
}

body {
    background-image: url("img.webp");
    background-size: cover;
}

.btn {

    background-color: aqua;
    color: deeppink;
    font-size: 25px;
    font-weight: bolder;
    width: 200px;
    margin: 50px auto 25px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    height: 50px;


}


* {
    box-sizing: border-box;
}


.quiz-container {
    background-color: rgba(245, 239, 220, 0.887);
    border-radius: 10px;
    width: 600px;
    cursor: pointer;
    display: block;
    justify-content: center;

    margin: 50px auto 25px;


}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

.btn1 {
    font-weight: bold;
    font-style: italic;
    background-color: rgb(0, 255, 242);
    margin: auto 300px;
    position: absolute;
    cursor: pointer;
    display: block;
    border-radius: 25px;
    justify-content: center;
}

.final {
    width: 70px;
    border-radius: 20px;
    background-color: rgb(35, 228, 228);
    font-weight: bold;
    margin: 50px auto 25px;
    margin-top: 50px;
    justify-content: center;
}